#browse-tabs{
	margin-top:15px;
}

h1 a{
	text-decoration: none;
	color:rgb(34, 34, 34);;
}
h1 a:hover{
	text-decoration: none;
	color:rgba(33, 33, 33, 0.8);
}

#cy {
  height: 80%;
  width: 100%;
}

.nav-pills li a{
padding:10px !important;
padding-right:10px !important;
padding-left:10px !important;
margin-right:5px;
font-size:1em !important;
}

#downloads_panel{
	display:none;
}

.download-list{
	font-size:1.2em !important;
}

.show-item:hover{
	cursor:pointer;
}
.stats-title{
	font-size:1.1em;
}
.stats-body p{
	font-size:1.0em !important;
	margin-bottom:2px;
	padding-bottom:2px;
}

#protein-table{
	display:none;
}

#pwm-table{
	display:none;
}

#browse-tabs li a:hover{
	cursor:pointer;
}

li .active{
	color:white !important;
}

.muts-table{
	font-size:12px;
	margin-bottom:0px;
}

.muts-table td{
	padding:0 !important;
	margin:0 !important;
	padding-top:3px !important;
	padding-bottom: 3px !important;
	padding-left:15px !important;
	padding-right:10px !important;
}

.qtip-content{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}

.qtip-content h6{
	margin-left:10px;
}

#tissues_filter_table{
	text-transform:capitalize;
}

.hidden_tr{
	display: none;
}

#tissue-load-less{
	display:none;
}

#protein-page a:hover{
	cursor:pointer !important;
}

#pwm-page a:hover{
	cursor:pointer !important;
}

#tissue-page a:hover{
	cursor:pointer !important;
}

#protein-choice-list a:hover{
	cursor:pointer !important;
};

#myModalLabel{
	padding-right:25px;
}

.modal-body{
	padding: 0;
}

#protein-choice-list td{
	 padding-top:15px;padding-bottom:15px;
}
